@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;400&family=Josefin+Sans:wght@200&family=Oswald:wght@200;500&family=Outfit:wght@200&family=Roboto+Mono:wght@100;400&display=swap");

body {
    background: rgb(36, 36, 36);
    background-repeat: no-repeat;
    bottom: 0;
    background-size: cover;
    height: 97vh;
    display: grid;
    color: white;
    font-family: "Roboto Mono", monospace;
}
section {
    margin: auto;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, rgba(0, 255, 255, 0.4), rgba(0, 140, 255, 0.4));
    margin-bottom: 1em;
    padding: 1em;
    border-radius: .3em;
    transition: all ease-in-out .2s;
}
a:hover{
    transform: translate(5px, -2px);
    background-color: rgba(0, 255, 255, 0.7);
}
